altgraph==0.17.5
annotated-types==0.7.0
anthropic==0.84.0
anyio==4.12.1
archspec
black==26.1.0
boltons
Brotli
c2pa-python==0.28.0
certifi
cffi
charset-normalizer
click==8.3.1
colorama
cryptography==46.0.4
distro
docstring_parser==0.17.0
et_xmlfile==2.0.0
ffmpeg-python==0.2.0
filelock==3.20.3
flatbuffers==25.12.19
frozendict
fsspec==2026.2.0
future==1.0.0
h11==0.16.0
h2
hf-xet==1.2.0
hpack
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.4.1
hyperframe
idna
iniconfig==2.3.0
isort==7.0.0
jiter==0.13.0
jsonpatch
jsonpointer
librt==0.7.8
logging==0.4.9.6
lxml==6.0.2
macholib==1.16.4
modelscope==1.34.0
mpmath==1.3.0
msgpack
mypy==1.19.1
mypy_extensions==1.1.0
natsort==8.4.0
numpy==1.26.4
onnxruntime==1.24.1
openai==2.20.0
openpyxl==3.1.5
packaging
pandas==3.0.0
pathspec==1.0.4
pillow==12.1.0
platformdirs
pluggy
protobuf==6.33.5
pycosat
pycparser
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pyqtdarktheme==0.1.7
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
PySocks
pytest==9.0.2
python-dateutil==2.9.0.post0
pytokens==0.4.1
PyYAML==6.0.3
requests
ruamel.yaml
ruamel.yaml.clib
setuptools==80.9.0
shellingham==1.5.4
sherpa-onnx-core==1.12.23
sherpa_onnx==1.12.23
shiboken6==6.10.2
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
sympy==1.14.0
toml==0.10.2
tqdm
truststore
typer-slim==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3
wheel==0.45.1
xlsxwriter==3.2.9
zstandard==0.25.0
